<nav
  id="mainNavbar"
  class="navbar navbar-light sticky-top navbar-expand-lg px-5"
>
  <div class="container-fluid">
    <a class="navbar-brand fs-4 fw-bolder" href="/">Yelp Camp 🏕️</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Locations</a>
        <a class="nav-link" href="/campgrounds/new">Add new location</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser) {%>
        <a class="nav-link" href="/login">
          <i class="fa fa-solid fa-user my-auto"></i>
          Login
        </a>
        <a class="nav-link" href="/register">
          <i class="fa fa-solid fa-user-plus my-auto"></i>
          Register
        </a>
        <% } else {%>
        <i class="fa fa-solid fa-user my-auto"></i><a class="nav-link"><strong><%= currentUser.username %></strong>
          </a>
        <a class="nav-link" href="/logout">
          <i class="fas fa-sign-out-alt my-auto"></i>
          Logout
        </a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
