<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center">
      <div class="card shadow" style="width: 25rem">
        <div class="card-body">
          <h5 class="card-title display-6 mb-4 ">Register</h5>
          <form action="/register" method="POST" class="validated-form" novalidate>
              <div class="mb-3">
                  <label class="form-label" for="username">Username</label>
                  <input class="form-control" type="text" id="username" name="username" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              </div>
              <div class="mb-3">
                  <label class="form-label" for="email">Email</label>
                  <input class="form-control" type="email" id="email" name="email" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              </div>
              <div class="mb-3">
                  <label class="form-label" for="password">Password</label>
                  <input class="form-control" type="password" id="password" name="password" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              </div>
              <div class="mb-3" >
                   <input type="checkbox" id="toggler">
                   <label class="form-label" for="toggler">Register as admin</label>
              </div>
              <div class="mb-3 isHidden" id="hiddenForm">
                  <label class="form-label" for="adminCode">Admin code</label>
                  <input class="form-control" type="password" id="adminCode" name="adminCode" >
              </div>
              <button class="btn btn-success">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/toggleForm.js"></script>